@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-header {
    position: sticky;
    top: 0;
    animation: slideDown 0.5s ease-in-out forwards;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.8);
}

.bg-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(assets/hero.jpg);
    background-position: center 90%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-hero-faq {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.65)), url(assets/faq.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-cabana-btn-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/caban2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-cabana-btn-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/caban3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-cabana-c {
    background-color: transparent;
    background-image: linear-gradient(170deg, #23272F 15%, #23272F4F 100%);
}

.bg-hero-jungla {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.75)), url(assets/caban1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-hero-lago {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.75)), url(assets/caban2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-hero-madera {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.75)), url(assets/caban3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes calm-bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(7px);
    }
}

.bouncing-element {
    position: relative;
    animation: calm-bounce 1.2s infinite;
    animation-timing-function: ease-in-out;
}

details[open] summary~* {
    animation: openAnimation 0.3s ease-in-out;
}

@keyframes openAnimation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bg-cta {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/CTA.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

textarea {
    resize: none;
    /* Desactiva el redimensionado */
    overflow: auto;
    /* Muestra la barra de scroll cuando sea necesario */
    width: 100%;
    /* Ajusta el tamaño al ancho del contenedor */
    height: 150px;
    /* Altura fija del textarea */
}